---
templateClass: page-home
---
{% extends 'layouts/base.njk' %}

{%- block header -%}
    {% include 'facehead.njk' %}
{%- endblock-%}

{%- block content -%}
    {{ content | safe }}
{% endblock %}

{# {% include "post-nav.njk" %} #}
