.header {
    &-bar {
        @extend .site-container;
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            text-decoration: none;
            color: var(--color-text);

            &:hover {
                background-color: var(--color-accent);
            }
        }
    }

    &-logo {
        padding: .53em .78em;
        background-color: var(--color-base);
        @extend .heading-font;
        font-size: 1.5rem;
        line-height: 1;
    }

    &-nav {
        flex-basis: 0;
        display: flex;
        line-height: 1;
        margin-left: auto;

        @media screen and (min-width: 480px) {
            margin-right: var(--s0);
        }
    }

    &-nav-list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    $nav-item-border-bottom: .2em;
    $nav-item-padding-vert: .5em;

    &-nav-item {
        display: flex;

        a {
            padding: .5em var(--s0) 0;
        }

        &-inner {
            padding: $nav-item-padding-vert 0 $nav-item-padding-vert;
        }

        &.active {
            .header-nav-item-inner {
                padding-bottom: $nav-item-padding-vert - $nav-item-border-bottom;
                border-bottom: $nav-item-border-bottom solid var(--color-base);
            }
        }
    }
}

