.home-section {
    padding-top: var(--s5);
    padding-bottom: var(--s5);

    h2 {
        margin-top:0
    }
    
    &-work {
        background-color: var(--color-background-2);
    }
}

.home-intro {
    // margin-top: var(--s4);
    // background-color: var(--color-background-2);

    &-desc {
        display: block;
        font-size: var(--s1);
        line-height: 1.25;
        font-weight: 600;
        margin: 0 auto;
        max-width: 40ch;
        text-align: center;
    }
}