.home-section {
    padding-top: var(--s3);
    padding-bottom: var(--s3);

    h2 {
        margin-top: 0;
    }

    &-link-wrap {
        @extend .site-container-padded;
        text-align: right;
        margin-top: var(--s3);
    }

    &-link {
        @extend .block-link;
        display: inline-block;
        
        &::after {
            content: " \2192";
        }
    }
}

.home-intro {
    // margin-top: var(--s4);
    // background-color: var(--color-background-2);

    &-desc {
        display: block;
        font-size: var(--s1);
        line-height: 1.25;
        font-weight: 600;
        margin: var(--s3) auto 0;
        max-width: 40ch;
        text-align: center;
        // padding: var(--s4) 0;
    }
}

.home-section-work {
    background-color: var(--color-background-2);
}

.home-postcard-selection .home-section-link-wrap {
    margin-top: calc(var(--s3) - var(--s2));
}

.home-postcards {
    display: grid;
    grid-template-columns: repeat(3, 16rem) calc(var(--body-padding) - var(--s1)); // Hack for Firefox ignoring padding on scroll elements
    grid-gap: var(--s1);
    max-width: calc(60rem + 2 * var(--body-padding));
    margin: 0 auto;
    padding-left: var(--body-padding);
    padding-bottom: var(--s2);
    overflow-x: auto;
}
