body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.site-container {
    width: 100%;
    max-width: calc(40rem + 2 * var(--body-padding));
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
}

main {
    @extend .site-container;
    flex-grow: 1;
    margin-top: var(--s3);
    // margin: var(--s3) var(--body-padding) 0 var(--body-padding);

    > :first-child {
        margin-top: 0;
    }
}

.post-nav {
    @extend .site-container;
    display: flex;
    justify-content: space-between;
    margin-top: var(--s4);
    // margin: var(--s3) var(--body-padding) 0;
    &-top {
        margin: 0 auto;
    }
}

