.postcard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--color-text);
    overflow: hidden;

    &-image {
        flex-grow: 1;
        border-bottom: 1px solid var(--color-text)
    }

    &-info {
        flex-basis: 0;
        flex-grow: 999;
        min-width: 50%;
        display: flex;
        flex-direction: column;
    }

    &-info-inner {
        display: flex;
        flex-direction: column;
        padding: var(--s0);
    }

    &-title {
        font-family: var(--font-family-heading);
        font-size: 1.75rem;
        font-weight: normal;
        margin: 0;
    }

    // &:focus {
    //     -moz-outline-radius: var(--outline-radius);
    // }

    &-date {
        font-size: $font-size-small;
        font-style: italic;
        color: var(--color-text-med)
    }

    &-description {
        margin-bottom: auto;
        font-size: $font-size-small;
    }

    &-tags {
        font-size: $font-size-small;
        margin-top: auto;
        margin-bottom: 0;
        text-transform: lowercase;
    }
    
    &-links {
        margin-top: auto;
        display: flex;
        margin-left: auto;
        border-top: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
    }

    &-link {
        @extend .block-link;
        font-size: $font-size-xsmall;
        padding: var(--s-3) var(--s-1);
        border-radius: 0;
        border: none;
        border-right: 1px solid var(--color-text);

        &::after {
            content: " \2192";
        }
        
        &:last-child {
            border-right: none;
        }
    }
}