---
title: Blog
slug: blog
layout: layouts/base.njk
permalink: /blog/
coverImageClass: postlist-cover
templateClass: template-postlist
tags: top
order: 2
---
<article class="site-container-padded">
  <div class="post-heading">
    <h1>{{ title }}</h1>
    <p>The following are posts detailing personal web projects.</p>
  </div>

  {% set postlist = (collections.blog | sortByOrder(true)) %}
  {% include "postlist.njk" %}
</article>
