---
layout: layouts/home.njk
title: Home
slug: home
tags: top
order: 4
cover:
    src: ./src/images/home_cover_square.png
    alt: Screenshot of charlesrobertson.io home page
    cardAlt: Screenshot of charlesrobertson.io home page
description: Charles Robertson is web designer and developer working to build a better web.
stylesheets: [facehead.css]
---
<h1 class="visually-hidden">Charles Robertson Code and Design</h1>

<section class="home-section home-intro">
    <p class="home-intro-desc site-container-padded">I am a <strong>designer</strong> and <strong>developer</strong> who builds software for the web.</p>
    <a href="/about" class="home-section-link">About</a>
</section>
<section class="home-section home-section-work site-container-padded">
    <h2>Latest Work</h2>
    {% set postlist = (collections.work | sortByOrder(true)) %}
    {% set post = postlist[0] %}
    <div class="postcard">
        {% image src=post.data.cover.src, alt=post.data.cover.alt, class="postcard-image" %}
        
        <div class="postcard-info">
            <h3 class="postcard-title">{{ post.data.title }}</h3>
            <time class="postcard-date">{{ post.data.postCreated | asPostDate }}</time>
            <p class="postcard-description">{{ post.data.description }}</p>

            {%- if (post.data.tags.length > 1) %}
            <p class="postcard-tags">tags: 
                {% for tag in post.data.tags %}
                {%- if tag !== "work" and tag !== "lab" -%}
                <span class="postcard-tag">
                    {{ tag }}{% if not loop.last %}, {% endif %}
                </span>
                {%- endif -%}
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </div>
</section>