---
layout: layouts/home.njk
title: Home
slug: home
tags: top
order: 4
cover:
    src: ./src/images/home_cover_square.png
    alt: Screenshot of charlesrobertson.io home page
    cardAlt: Screenshot of charlesrobertson.io home page
description: Charles Robertson is web designer and developer working to build a better web.
stylesheets: [facehead.css]
---
<h1 class="visually-hidden">Charles Robertson Code and Design</h1>

<section class="home-intro">
    <p class="home-intro-desc site-container-padded">I am a <strong>full stack developer</strong> and <strong>designer</strong> who creates resilient, accessible and performant experiences on the web.</p>
</section>
<section class="single-column">
    <p>I have been designing and building fuckall end to end for clients since 2013. Examples of that work are in the <a href="work">Work</a> section.</p>

    <p>Experiments and personal projects can be found in <a href="lab">Lab</a>.</p>

    <p>I am currently seeking a full time on a software development team in New Orleans or remote. I can be reached at <a href='&#109;ailt&#111;&#58;&#99;on&#116;&#97;c&#37;74&#64;%63&#37;68&#97;&#114;%6C%65&#37;&#55;3rob&#101;rt&#115;on%2Eio'>conta&#99;t&#64;c&#104;&#97;r&#108;esrob&#101;rt&#115;on&#46;io</a>.</p>
</section>