---
title: Lab
slug: lab
layout: layouts/base.njk
permalink: /lab/
coverImageClass: postlist-cover
templateClass: template-postlist
tags: top
order: 2
eleventyNavigation:
  key: lab
  title: Lab
  order: 2
---
<article class="site-container-padded">
  <div class="post-heading">
    <h1>{{ title }}</h1>
    <p>The following are posts detailing personal web projects.</p>
  </div>

  {% set postlist = (collections.lab | sortByOrder(true)) %}
  {% include "postlist.njk" %}
</article>
