---
title: Work
slug: work
layout: layouts/base.njk
permalink: /work/
coverImageClass: postlist-cover
templateClass: template-postlist
tags: top
order: 3
eleventyNavigation:
  key: work
  order: 1
  title: Work
---
<div class="post-heading">
  <h1>{{ title }}</h1>
  <p>The following are case studies of websites I have built for clients.</p>  
</div>

{% set postlist = (collections.work | sortByOrder(true)) %}
{% include "postlist.njk" %}

