<footer class="footer">
  <div class="footer-container">
    <nav class="footer-nav">
      <div class="footer-menu">
        <h3 class="footer-heading">Site</h3>
          <ul class="footer-nav-list">
          <li><a href='/'>Home</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3 class="footer-heading">Contact</h3>
        <ul class="footer-nav-list">
          <li><a href='&#109;ailt&#111;&#58;&#99;on&#116;&#97;c&#37;74&#64;%63&#37;68&#97;&#114;%6C%65&#37;&#55;3rob&#101;rt&#115;on%2Eio'>{% icon 'email' %}Email</a></li>
          <li><a href="https://twitter.com/tropical_nerd">{% icon 'twitter' %}Twitter</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3 class="footer-heading">Elsewhere</h3>
          <ul class="footer-nav-list">
          <li><a href="https://github.com/tr0pical1nternet">{% icon 'github' %}Github</a></li>
          <li><a href="https://codepen.io/tr0pical1nternet">{% icon 'codepen' %}Codepen</a></li>
          <li><a href="https://cocohost.co">{% icon 'cocohost', 'Cocohost' %}Cocohost</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-contentinfo">
      &copy;2019 Charles Robertson
    </div>
    <div class="footer-decoration" role="presentation"></div>
  </div>
</footer>