    <header class="header">
      {# <div class="header-inner"> #}
      <a class="header-logo" href="{{ '/' | url }}" title="Home">
        {# <div class="header-logo-text"> #}
              Charles Robertson
            {# </div> #}</a>

      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
        {%- include 'header-nav.njk' -%}
      {# </div> #}
    </header>