    <header class="header">
      <div class="header-bar">
        <div class="header-bar-inner">
          <a class="header-logo" href="{{ '/' | url }}" title="Home">Charles Robertson</a>
          {%- include 'header-nav.njk' -%}
        </div>
      </div>
    </header>