      <nav class="header-nav">
        <ul class="header-nav-list">
          {% for navItem in nav.navItems %}
            <li class="header-nav-item {{ 'active' if navItem.slug in page.url }}">
              <a href="/{{ navItem.slug }}/">
                <div class="header-nav-item-inner">
                  {{ navItem.title }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>