    <header class="header">
      <div class="header-bar">
        <a class="header-logo" href="{{ '/' | url }}" title="Home">Charles Robertson</a>
        {%- include 'main-nav.njk' -%}
      </div>
    </header>