      <nav class="header-nav">
        <ul class="header-nav-list">
          {% for navItem in metadata.navItems %}
            <li class="header-nav-item {%- if (navItem.slug | isActive(page.fileSlug, tags[0])) %} current{% endif %}">
              <a href="/{{ navItem.slug }}/">
                <div class="header-nav-item-inner">
                  {{ navItem.title }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>