<div class="post-nav">
  {% set postlist = (collections[tags[0]] | sortByOrder(true)) %}
  {% if (postlist | isDefined) %}
    {% set postIndex = postlist | getPostIndexFromSlug(slug) %}
  {% endif %}

  {% if (postIndex | isDefined) %}
    {% if (postIndex > 0) %}
      {% set prevPost = postlist[postIndex - 1] %}
    {% else %}
      {% set prevPost = postlist[postlist.length - 1] %}
    {% endif %}
    
    <div class="post-nav-prev">← <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></div>
  {% endif%}

  <div class="post-nav-top"><a href="#page-top">Back to top</a> ↑</div>

  {% if (postIndex | isDefined) %}
    {% if (postIndex < postlist.length - 1) %}
      {% set nextPost = postlist[postIndex + 1] %}
    {% else %}
      {% set nextPost = postlist[0] %}
    {% endif %}

    <div class="post-nav-next"><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> →</div>
  {% endif %}

</div>