<ol class="postlist">
  <div class="postlist-inner">

    {% for post in postlist %}
      <li class="postlist-item">
        <a class="postlist-link" href="{{ post.url | url }}">
          <h2 class="postlist-heading">{{ post.data.title }}</h2>
          {% image src=post.data.cover.src, alt=post.data.cover.alt, class=coverImageClass %}
        </a>
        
        {% if (post.data.tags.length > 1) %}
          <ul class="postlist-taglist">
              {% for tag in post.data.tags %}
                {%- if tag !== slug -%}
                  <li class="postlist-tag">
                    {{ tag }}
                  </li>
                {%- endif -%}
              {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}
    
  </div>
</ol>
